<div class="card-columns mt-5 animated fadeIn">
    <div class="card" *ngFor="let newRelease of newReleases">
        <img class="card-img-top" [src]="newRelease.images | noimage" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ newRelease.name }}</h5>
            <p class="card-text">
                <span *ngFor="let artist of newRelease.artists" class="badge badge-pill badge-secondary">{{ artist.name }}</span>
            </p>
        </div>
    </div>
</div>